server.port=int
spring.mvc.servlet.path=/api/v2

spring.jpa.show-sql=boolean
spring.jpa.database=mysql
spring.jpa.hibernate.ddl-auto=update

spring.datasource.url=jdbc:mysql://{databaseHost}:3306/{databaseName}?useSSL=false&characterEncoding=UTF-8&serverTimezone=UTC
spring.datasource.username=database_UserName
spring.datasource.password=database_Password
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

spring.jackson.serialization.FAIL_ON_EMPTY_BEANS=false

app.githubToken=String
app.secret=String
app.refreshSecret=String
app.clientId=Dodam_client_ID
app.clientSecret=Dodam_client_Secret
